.page {
    color: white;
    justify-content: start;
    align-items: start;
    padding: 1em;
    right: unset;
    bottom: unset;
}

.btnToggle {
    position: fixed;
    z-index: 5;
    top: 1em;
    left: 1em;
}