<div class="page">
    <div class="link red" [routerLink]="['/orientation']">ORIENTATION</div>
    <div class="link red" [routerLink]="['/cam-text']">CAM TEXT</div>
    <div class="link red" [routerLink]="['/multiple-windows-sync']">MULTIPLE WINDOWS SYNC</div>
    <div class="link" [routerLink]="['/example']">EXAMPLE</div>
    <div class="link" [routerLink]="['/model']">MODEL</div>
    <div class="link" [routerLink]="['/orientation-controls']">ORIENTATION CONTROLS</div>
    <div class="link" [routerLink]="['/gyro-model']">GYRO MODEL</div>
</div>